<!DOCTYPE html>
<html>
    <head>
        <title>Suporte Sondagens - Indicadores</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">	
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/slate/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="assets/vendor/html5shiv.js"></script>
          <script src="assets/vendor/respond.min.js"></script>
        <![endif]-->	
    </head>
    <body>	
        <? include 'menu.html';?>
        <div class="pad-10 container">
            <br /><br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Relação com os Investidores</h3>
                </div>
                <div class="pad-10">
                    <p>
                        A Suporte Sondagens a Investigações Ltda., visando promover uma gestão transparente, 
                        desenvolveu este espaço para fortalecer os canais de interação com os sócios investidores. 
                        Neste local é possível acompanhar os números da empresa com dados extraídos diariamente 
                        do banco de dados administrativo.
                    </p>
                    <p>
                        Os indicadores desenvolvidos e apresentados em modo gráfico são os seguintes: 
                        Quantidade de Ensaios de Campo versus Mês/Ano e Quantidade de Ensaios de Laboratório versus Mês/Ano
                        este dois gráficos possibilitam analisar o histórico da quantidade de ensaios entregues aos clientes 
                        em cada mês/ano. <br/> O terceiro gráfico: Lucro por Ensaio versus Mês/Ano, considerado pelos administradores
                        como o principal indicador da empresa, permite analisar o desempenho financeiro da empresa.                 
                    </p>
                </div>
            </div>
            <p class="text-center"><img src="assets/img/layout/logo.jpg" class="text-center" /></p>
        </div>

        <script src="assets/vendor/jquery-1.8.3.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>		
        <script src="assets/vendor/bootstrap/js/bootstrap-hover.js"></script>			
        <script src="assets/js/main.js"></script>	
    </body>	
</html>